In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Шаг 1

In [2]:

dataframe = pd.read_csv("ds_salaries.csv")

print("\nВсе количественные столбцы имеют числовой тип:")
print(dataframe.info())

print("\nВ колонках отсутсвуют пропущенные значения:")
print(dataframe.isnull().sum())
dataframe

Все количественные столбцы имеют числовой тип:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB
None

В колонках отсутсвуют пропущенные значения:
Unnamed: 0            0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [3]:
# new_df = dataframe.copy()

# #non int64
# non_int = ['experience_level', 'employment_type', 'job_title', 'salary_currency', 'employee_residence', 'company_location', 'company_size']

# unique_eml_type = new_df['employment_type']
# print(unique_eml_type)

# # Создаем словарь для присвоения числовых кодов категориальным значениям
# code_dict_exp_lvl = {'EN': 1, 'MI': 2, 'SE': 3, 'EX' : 4}
# experience_levels_from_df = new_df['experience_level']

# new_df['experience_level'] = [code_dict_exp_lvl[value] for value in experience_levels_from_df]

# new_df

Функция - возвращает датафрейм как массив словарей

In [4]:
#поменять залоголок столбца на понятный
dataframe.rename(columns={'Unnamed: 0': 'RowID'}, inplace=True)

def getDataframeAsArrayOfDictionarys():
    return dataframe.to_dict(orient='records')

# getDataframeAsArrayOfDictionarys()

Шаг 2

In [5]:
print("\nОписательные статистики по колонкам (среднее, мода, медиана, стандартное отклонение, квартили):")
print(dataframe.describe())
mode = dataframe.experience_level.mode()[0]  
m = ['experience_level', "employment_type", 'job_title', 'salary_currency', 'employee_residence', 'company_location', 'company_size']
print("\nЗначение моды для не числовых колонок:")
for i in m:
  print(f"{i}: {dataframe[i].mode()[0]}")

Описательные статистики по колонкам (среднее, мода, медиана, стандартное отклонение, квартили):
            RowID    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

Значение моды для не числовых колонок:
experience_level: SE
employment_type: FT
job_title: Data Scientist
salary_currency: USD
employee_residence: US
company_location: US
company_size: M

In [11]:
inter_cols = ["work_year",'salary', "salary_in_usd", "remote_ratio"]

plt.rcParams["figure.figsize"] = 12, 6
dataframe[inter_cols].boxplot();
print(inter_cols)

['work_year', 'salary', 'salary_in_usd', 'remote_ratio']

In [13]:
ndf = dataframe.copy()
ndf = ndf[ndf['salary_in_usd'] < 500000].copy()
ndf = ndf[ndf['salary'] < 700000].copy()
ndf[inter_cols].boxplot();