In [6]:
import pandas as pd
import matplotlib.pyplot as plt

Шаг 1

In [7]:

dataframe = pd.read_csv("ds_salaries.csv")

print("\nВсе количественные столбцы имеют числовой тип:")
print(dataframe.info())

print("\nВ колонках отсутсвуют пропущенные значения:")
print(dataframe.isnull().sum())
dataframe

Все количественные столбцы имеют числовой тип:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB
None

В колонках отсутсвуют пропущенные значения:
Unnamed: 0            0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [34]:
# new_df = dataframe.copy()

# #non int64
# non_int = ['experience_level', 'employment_type', 'job_title', 'salary_currency', 'employee_residence', 'company_location', 'company_size']

# unique_eml_type = new_df['employment_type']
# print(unique_eml_type)

# # Создаем словарь для присвоения числовых кодов категориальным значениям
# code_dict_exp_lvl = {'EN': 1, 'MI': 2, 'SE': 3, 'EX' : 4}
# experience_levels_from_df = new_df['experience_level']

# new_df['experience_level'] = [code_dict_exp_lvl[value] for value in experience_levels_from_df]

# new_df

Функция - возвращает датафрейм как массив словарей

In [17]:
#поменять залоголок столбца на понятный
dataframe.rename(columns={'Unnamed: 0': 'RowID'}, inplace=True)

def getDataframeAsArrayOfDictionarys():
    return dataframe.to_dict(orient='records')

# getDataframeAsArrayOfDictionarys()

[{'RowID': 0,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 70000,
  'salary_currency': 'EUR',
  'salary_in_usd': 79833,
  'employee_residence': 'DE',
  'remote_ratio': 0,
  'company_location': 'DE',
  'company_size': 'L'},
 {'RowID': 1,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Scientist',
  'salary': 260000,
  'salary_currency': 'USD',
  'salary_in_usd': 260000,
  'employee_residence': 'JP',
  'remote_ratio': 0,
  'company_location': 'JP',
  'company_size': 'S'},
 {'RowID': 2,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Big Data Engineer',
  'salary': 85000,
  'salary_currency': 'GBP',
  'salary_in_usd': 109024,
  'employee_residence': 'GB',
  'remote_ratio': 50,
  'company_location': 'GB',
  'company_size': 'M'},
 {'RowID': 3,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Product Data Analyst',
  'salary': 20000,
  'salary_currency': 'USD',
  'salary_in_usd': 20000,
  'employee_residence': 'HN',
  'remote_ratio': 0,
  'company_location': 'HN',
  'company_size': 'S'},
 {'RowID': 4,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Engineer',
  'salary': 150000,
  'salary_currency': 'USD',
  'salary_in_usd': 150000,
  'employee_residence': 'US',
  'remote_ratio': 50,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 5,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 72000,
  'salary_currency': 'USD',
  'salary_in_usd': 72000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 6,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Lead Data Scientist',
  'salary': 190000,
  'salary_currency': 'USD',
  'salary_in_usd': 190000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'S'},
 {'RowID': 7,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 11000000,
  'salary_currency': 'HUF',
  'salary_in_usd': 35735,
  'employee_residence': 'HU',
  'remote_ratio': 50,
  'company_location': 'HU',
  'company_size': 'L'},
 {'RowID': 8,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Business Data Analyst',
  'salary': 135000,
  'salary_currency': 'USD',
  'salary_in_usd': 135000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 9,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Lead Data Engineer',
  'salary': 125000,
  'salary_currency': 'USD',
  'salary_in_usd': 125000,
  'employee_residence': 'NZ',
  'remote_ratio': 50,
  'company_location': 'NZ',
  'company_size': 'S'},
 {'RowID': 10,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 45000,
  'salary_currency': 'EUR',
  'salary_in_usd': 51321,
  'employee_residence': 'FR',
  'remote_ratio': 0,
  'company_location': 'FR',
  'company_size': 'S'},
 {'RowID': 11,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 3000000,
  'salary_currency': 'INR',
  'salary_in_usd': 40481,
  'employee_residence': 'IN',
  'remote_ratio': 0,
  'company_location': 'IN',
  'company_size': 'L'},
 {'RowID': 12,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 35000,
  'salary_currency': 'EUR',
  'salary_in_usd': 39916,
  'employee_residence': 'FR',
  'remote_ratio': 0,
  'company_location': 'FR',
  'company_size': 'M'},
 {'RowID': 13,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Lead Data Analyst',
  'salary': 87000,
  'salary_currency': 'USD',
  'salary_in_usd': 87000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 14,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 85000,
  'salary_currency': 'USD',
  'salary_in_usd': 85000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 15,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 8000,
  'salary_currency': 'USD',
  'salary_in_usd': 8000,
  'employee_residence': 'PK',
  'remote_ratio': 50,
  'company_location': 'PK',
  'company_size': 'L'},
 {'RowID': 16,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 4450000,
  'salary_currency': 'JPY',
  'salary_in_usd': 41689,
  'employee_residence': 'JP',
  'remote_ratio': 100,
  'company_location': 'JP',
  'company_size': 'S'},
 {'RowID': 17,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Big Data Engineer',
  'salary': 100000,
  'salary_currency': 'EUR',
  'salary_in_usd': 114047,
  'employee_residence': 'PL',
  'remote_ratio': 100,
  'company_location': 'GB',
  'company_size': 'S'},
 {'RowID': 18,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Science Consultant',
  'salary': 423000,
  'salary_currency': 'INR',
  'salary_in_usd': 5707,
  'employee_residence': 'IN',
  'remote_ratio': 50,
  'company_location': 'IN',
  'company_size': 'M'},
 {'RowID': 19,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Lead Data Engineer',
  'salary': 56000,
  'salary_currency': 'USD',
  'salary_in_usd': 56000,
  'employee_residence': 'PT',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 20,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Engineer',
  'salary': 299000,
  'salary_currency': 'CNY',
  'salary_in_usd': 43331,
  'employee_residence': 'CN',
  'remote_ratio': 0,
  'company_location': 'CN',
  'company_size': 'M'},
 {'RowID': 21,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Product Data Analyst',
  'salary': 450000,
  'salary_currency': 'INR',
  'salary_in_usd': 6072,
  'employee_residence': 'IN',
  'remote_ratio': 100,
  'company_location': 'IN',
  'company_size': 'L'},
 {'RowID': 22,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 42000,
  'salary_currency': 'EUR',
  'salary_in_usd': 47899,
  'employee_residence': 'GR',
  'remote_ratio': 50,
  'company_location': 'GR',
  'company_size': 'L'},
 {'RowID': 23,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'BI Data Analyst',
  'salary': 98000,
  'salary_currency': 'USD',
  'salary_in_usd': 98000,
  'employee_residence': 'US',
  'remote_ratio': 0,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 24,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Lead Data Scientist',
  'salary': 115000,
  'salary_currency': 'USD',
  'salary_in_usd': 115000,
  'employee_residence': 'AE',
  'remote_ratio': 0,
  'company_location': 'AE',
  'company_size': 'L'},
 {'RowID': 25,
  'work_year': 2020,
  'experience_level': 'EX',
  'employment_type': 'FT',
  'job_title': 'Director of Data Science',
  'salary': 325000,
  'salary_currency': 'USD',
  'salary_in_usd': 325000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 26,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Research Scientist',
  'salary': 42000,
  'salary_currency': 'USD',
  'salary_in_usd': 42000,
  'employee_residence': 'NL',
  'remote_ratio': 50,
  'company_location': 'NL',
  'company_size': 'L'},
 {'RowID': 27,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 720000,
  'salary_currency': 'MXN',
  'salary_in_usd': 33511,
  'employee_residence': 'MX',
  'remote_ratio': 0,
  'company_location': 'MX',
  'company_size': 'S'},
 {'RowID': 28,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'CT',
  'job_title': 'Business Data Analyst',
  'salary': 100000,
  'salary_currency': 'USD',
  'salary_in_usd': 100000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 29,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Manager',
  'salary': 157000,
  'salary_currency': 'CAD',
  'salary_in_usd': 117104,
  'employee_residence': 'CA',
  'remote_ratio': 50,
  'company_location': 'CA',
  'company_size': 'L'},
 {'RowID': 30,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineering Manager',
  'salary': 51999,
  'salary_currency': 'EUR',
  'salary_in_usd': 59303,
  'employee_residence': 'DE',
  'remote_ratio': 100,
  'company_location': 'DE',
  'company_size': 'S'},
 {'RowID': 31,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Big Data Engineer',
  'salary': 70000,
  'salary_currency': 'USD',
  'salary_in_usd': 70000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 32,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 60000,
  'salary_currency': 'EUR',
  'salary_in_usd': 68428,
  'employee_residence': 'GR',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 33,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Research Scientist',
  'salary': 450000,
  'salary_currency': 'USD',
  'salary_in_usd': 450000,
  'employee_residence': 'US',
  'remote_ratio': 0,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 34,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 41000,
  'salary_currency': 'EUR',
  'salary_in_usd': 46759,
  'employee_residence': 'FR',
  'remote_ratio': 50,
  'company_location': 'FR',
  'company_size': 'L'},
 {'RowID': 35,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 65000,
  'salary_currency': 'EUR',
  'salary_in_usd': 74130,
  'employee_residence': 'AT',
  'remote_ratio': 50,
  'company_location': 'AT',
  'company_size': 'L'},
 {'RowID': 36,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Science Consultant',
  'salary': 103000,
  'salary_currency': 'USD',
  'salary_in_usd': 103000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 37,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Engineer',
  'salary': 250000,
  'salary_currency': 'USD',
  'salary_in_usd': 250000,
  'employee_residence': 'US',
  'remote_ratio': 50,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 38,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 10000,
  'salary_currency': 'USD',
  'salary_in_usd': 10000,
  'employee_residence': 'NG',
  'remote_ratio': 100,
  'company_location': 'NG',
  'company_size': 'S'},
 {'RowID': 39,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Engineer',
  'salary': 138000,
  'salary_currency': 'USD',
  'salary_in_usd': 138000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'S'},
 {'RowID': 40,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 45760,
  'salary_currency': 'USD',
  'salary_in_usd': 45760,
  'employee_residence': 'PH',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'S'},
 {'RowID': 41,
  'work_year': 2020,
  'experience_level': 'EX',
  'employment_type': 'FT',
  'job_title': 'Data Engineering Manager',
  'salary': 70000,
  'salary_currency': 'EUR',
  'salary_in_usd': 79833,
  'employee_residence': 'ES',
  'remote_ratio': 50,
  'company_location': 'ES',
  'company_size': 'L'},
 {'RowID': 42,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Infrastructure Engineer',
  'salary': 44000,
  'salary_currency': 'EUR',
  'salary_in_usd': 50180,
  'employee_residence': 'PT',
  'remote_ratio': 0,
  'company_location': 'PT',
  'company_size': 'M'},
 {'RowID': 43,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 106000,
  'salary_currency': 'USD',
  'salary_in_usd': 106000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 44,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 88000,
  'salary_currency': 'GBP',
  'salary_in_usd': 112872,
  'employee_residence': 'GB',
  'remote_ratio': 50,
  'company_location': 'GB',
  'company_size': 'L'},
 {'RowID': 45,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'PT',
  'job_title': 'ML Engineer',
  'salary': 14000,
  'salary_currency': 'EUR',
  'salary_in_usd': 15966,
  'employee_residence': 'DE',
  'remote_ratio': 100,
  'company_location': 'DE',
  'company_size': 'S'},
 {'RowID': 46,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 60000,
  'salary_currency': 'GBP',
  'salary_in_usd': 76958,
  'employee_residence': 'GB',
  'remote_ratio': 100,
  'company_location': 'GB',
  'company_size': 'S'},
 {'RowID': 47,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 188000,
  'salary_currency': 'USD',
  'salary_in_usd': 188000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 48,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 105000,
  'salary_currency': 'USD',
  'salary_in_usd': 105000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 49,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 61500,
  'salary_currency': 'EUR',
  'salary_in_usd': 70139,
  'employee_residence': 'FR',
  'remote_ratio': 50,
  'company_location': 'FR',
  'company_size': 'L'},
 {'RowID': 50,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 450000,
  'salary_currency': 'INR',
  'salary_in_usd': 6072,
  'employee_residence': 'IN',
  'remote_ratio': 0,
  'company_location': 'IN',
  'company_size': 'S'},
 {'RowID': 51,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Analyst',
  'salary': 91000,
  'salary_currency': 'USD',
  'salary_in_usd': 91000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 52,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'AI Scientist',
  'salary': 300000,
  'salary_currency': 'DKK',
  'salary_in_usd': 45896,
  'employee_residence': 'DK',
  'remote_ratio': 50,
  'company_location': 'DK',
  'company_size': 'S'},
 {'RowID': 53,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 48000,
  'salary_currency': 'EUR',
  'salary_in_usd': 54742,
  'employee_residence': 'PK',
  'remote_ratio': 100,
  'company_location': 'DE',
  'company_size': 'L'},
 {'RowID': 54,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FL',
  'job_title': 'Computer Vision Engineer',
  'salary': 60000,
  'salary_currency': 'USD',
  'salary_in_usd': 60000,
  'employee_residence': 'RU',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'S'},
 {'RowID': 55,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Principal Data Scientist',
  'salary': 130000,
  'salary_currency': 'EUR',
  'salary_in_usd': 148261,
  'employee_residence': 'DE',
  'remote_ratio': 100,
  'company_location': 'DE',
  'company_size': 'M'},
 {'RowID': 56,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 34000,
  'salary_currency': 'EUR',
  'salary_in_usd': 38776,
  'employee_residence': 'ES',
  'remote_ratio': 100,
  'company_location': 'ES',
  'company_size': 'M'},
 {'RowID': 57,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 118000,
  'salary_currency': 'USD',
  'salary_in_usd': 118000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 58,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 120000,
  'salary_currency': 'USD',
  'salary_in_usd': 120000,
  'employee_residence': 'US',
  'remote_ratio': 50,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 59,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 138350,
  'salary_currency': 'USD',
  'salary_in_usd': 138350,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 60,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 110000,
  'salary_currency': 'USD',
  'salary_in_usd': 110000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 61,
  'work_year': 2020,
  'experience_level': 'MI',
  'employment_type': 'FT',
  'job_title': 'Data Engineer',
  'salary': 130800,
  'salary_currency': 'USD',
  'salary_in_usd': 130800,
  'employee_residence': 'ES',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'M'},
 {'RowID': 62,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'PT',
  'job_title': 'Data Scientist',
  'salary': 19000,
  'salary_currency': 'EUR',
  'salary_in_usd': 21669,
  'employee_residence': 'IT',
  'remote_ratio': 50,
  'company_location': 'IT',
  'company_size': 'S'},
 {'RowID': 63,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 412000,
  'salary_currency': 'USD',
  'salary_in_usd': 412000,
  'employee_residence': 'US',
  'remote_ratio': 100,
  'company_location': 'US',
  'company_size': 'L'},
 {'RowID': 64,
  'work_year': 2020,
  'experience_level': 'SE',
  'employment_type': 'FT',
  'job_title': 'Machine Learning Engineer',
  'salary': 40000,
  'salary_currency': 'EUR',
  'salary_in_usd': 45618,
  'employee_residence': 'HR',
  'remote_ratio': 100,
  'company_location': 'HR',
  'company_size': 'S'},
 {'RowID': 65,
  'work_year': 2020,
  'experience_level': 'EN',
  'employment_type': 'FT',
  'job_title': 'Data Scientist',
  'salary': 55000,